#aboutcontent{
    width: 100vw;
    height: 90vh;
    display: flex;
     align-items: center;
     justify-content: space-around;
}

#aboutwebsite{
width: 40%;
height: 60%;
/* border: 2px solid black; */
display:  flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
font-weight: bold;
}
#aboutwebsite h1{
    color: blue;

}

#aboutimg{

    width: 50%;
    height: 70%;
    /* border: 2px solid black; */
    overflow: hidden;
}

#aboutimg img{
width: 100%;
height: 100%;
border-radius: 50%;

}