#coursevideo{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    box-sizing: border-box;
    /* border: 2px solid red; */
   

}

#coursedetails{
    width: 95%;
    height: 250px;
    /* border: 2px solid black; */
    background-color: rgba(188, 143, 143, 0.453);
    margin-top: 15px;
    padding: 22px;
    box-sizing: border-box;
    border-radius: 15px;
    box-sizing: border-box;
}

#coursedetails p{
font-size: 1.2rem;
font-weight: bold;

}
#video{
 width: 95%;
 height: 550px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgba(128, 128, 128, 0.464);
 border-radius: 15px;
 /* border: 2px solid red; */
 overflow: hidden;
}

.radius1{
    border-radius: 10px;
}

.text{
    color: blue
}