@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;

}
body{
    background-color: rgba(208, 179, 238, 0.644);
}
.blue{
    color: blue;
}